GROQ_KEY_1=your_groq_key_1
GROQ_KEY_2=your_groq_key_2
GROQ_KEY_3=your_groq_key_3


CHROMA_PATH=./chroma_store
COLLECTION_NAME=creditsense_docs
RAG_DOCS_PATH="../../RAG files"
RAG_TOP_K=8
DEFAULT_ANNUAL_INTEREST_RATE=0.15
ML_MODEL_PATH=./ml_model/model.pkl
HINDI_FONT_PATH=./assets/fonts/NotoSansDevanagari-Regular.ttf
